.nav-blue,
.navbar-expand-lg .navbar-nav .dropdown-menu{
    background-color: blueviolet !important;
}

.slider{
    /* width: 100%;
    height: 100vh;
    background: #666; */
}
.section-border{
    background: #999;
    padding: 50px 0px;
}

.service-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    min-height: 350px;
    padding: 15px;
    flex-shrink: inherit;
}

.service-item h1{
    color: greenyellow;
}

/* .carousel-caption {
    position: relative;
    right: auto;
    left: auto;
    padding: 0px;
} */
.caption {
    text-align: center;
    color: white;
}
.slider-desktop  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 95vh;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;

}

.slider-mobile {
    display: none;
    width: 100vw;
    height: 95vh;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}

@media (max-width: 768px) {
    .slider-mobile{
        display: block;
        
    }
    .slider-desktop {
        display: none;
    }
}

